<div class="teaser-card" [ngClass]="sttheme">
  <div class="teaser-header p-3" [ngClass]="{'with-icon': icon}">
    <div class="teaser-icon" *ngIf="icon">
      <span [ngClass]="icon"></span>
    </div>
    <div class="teaser-title">
      <h1 *ngIf="tag === 'h1'" class="h-title" [innerHTML]="title"></h1>
      <h2 *ngIf="tag === 'h2'" class="h-title" [innerHTML]="title"></h2>
      <h3 *ngIf="tag === 'h3'" class="h-title" [innerHTML]="title"></h3>
      <h4 *ngIf="tag === 'h4'" class="h-title" [innerHTML]="title"></h4>
      <h5 *ngIf="tag === 'h5'" class="h-title" [innerHTML]="title"></h5>
      <h6 *ngIf="tag === 'h6'" class="h-title" [innerHTML]="title"></h6>
    </div>
  </div>
  <div class="teaser-ratings pl-3 pr-3">
    <!-- <app-ratings-reviews [data]="ratings"></app-ratings-reviews> -->
  </div>
  <div class="teaser-img" mat-card-image *ngIf="tileImg">
    <app-responsive-image [imgData]="tileImg"></app-responsive-image>
  </div>
  <div class="teaser-video" mat-card-image *ngIf="tileVideoURL">
    <iframe *ngIf="tileVideoSource === 'youtube'" width="560" height="315" [src]="tileVideoURL" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <!-- <div class="teaser-subtitle" *ngIf="(tags || []).length > 0">
    <app-cta *ngFor="let tag of tags, index as i, last as isLast" [data]="{
                cssclass: tag.cssclass,
                href: tag.link,
                index: i,
                last: isLast,
                tag: tag.tag,
                text: tag.title,
                title: tag.title
            }" [theme]="sttheme"></app-cta>
  </div> -->
  <div class="teaser-content p-3">
    <p [innerHTML]="desc"></p>
  </div>
  <div class="teaser-actions pb-3">
    <app-cta-btn *ngFor="let cta of ctas" class="mr-2" [cProps]="{
      tag: cta.tag,
      href: cta.link || '',
      type: cta.type || '',
      text: cta.title,
      title: cta.title,
      primaryicon: '',
      ctaicon: cta.icon,
      ctastyle: cta.ctastyle,
      isoutline: cta.isoutline || 'false',
      size: 'sm',
      share: cta.share
  }"></app-cta-btn>
    <!-- <app-cta *ngFor="let cta of ctas" [data]="{
                cssclass: cta.cssclass,
                href: cta.link,
                tag: cta.tag,
                text: cta.title,
                title: cta.title,
                icon: cta.icon,
                share: cta.share
            }" [theme]="sttheme"></app-cta> -->
  </div>
</div>
