.banner-comp {
  padding: 0 20%;
  .banner-row {
    padding-bottom: 66.66%;
  }
  .banner-row:nth-of-type(odd) {
    & > div {
      &:nth-child(1) {
        top: 0;
        left: 0;
        width: 33.34%;
        padding-bottom: 66.64%;
      }
      &:nth-child(2) {
        top: 50%;
        left: 33.34%;
        width: 33.33%;
        padding-bottom: 33.34%;
      }
      &:nth-child(3) {
        top: 50%;
        left: 66.66%;
        width: 33.34%;
        padding-bottom: 33.34%;
      }
      &:nth-child(4) {
        top: 0;
        left: 33.34%;
        width: 66.66%;
        padding-bottom: 33.34%;
      }
    }
  }
  .banner-row:nth-of-type(even) {
    margin-top: 0;
    & > div {
      &:nth-child(1) {
        top: 0;
        left: 66.64%;
        width: 33.34%;
        padding-bottom: 66.64%;
      }
      &:nth-child(2) {
        top: 0%;
        left: 33.34%;
        width: 33.33%;
        padding-bottom: 33.34%;
      }
      &:nth-child(3) {
        top: 0;
        left: 0%;
        width: 33.34%;
        padding-bottom: 33.34%;
      }
      &:nth-child(4) {
        top: 50%;
        left: 0%;
        width: 66.66%;
        padding-bottom: 33.34%;
      }
    }
  }
}