<div class="main-content">
  <section class="itemdetail-comp" *ngIf="idetail">
    <div class="max-wrap">
      <div class="container-fluid">
        <div class="row d-none d-md-block">
          <nav aria-label="breadcrumb">
            <small>
              <ol class="breadcrumb m-0 px-2">
                <li class="breadcrumb-item"><a href="#">Computers &amp; Accessories</a></li>
                <li class="breadcrumb-item"><a href="#">Laptops</a></li>
                <li class="breadcrumb-item active" aria-current="page">ASUS ZenBook Pro Duo UX581GV-H2036T Intel Core i7 9th Gen 15.6" 4K UHD OLED</li>
              </ol>
            </small>
          </nav>
        </div>
        <div class="row py-2">
          <div class="col-md-20 col-xl-16 col-xxl-15">
            <div class="detail-gallery mb-3">
                <a href="#" *ngFor="let img of imgArr; index as i" [class]="i === 0 ? 'primary' : ''" (click)="openDetailGallery($event, detailgallery)">
                  <div class="d-img">
                    <img [src]="img"/>
                  </div>
                </a>
            </div>
          </div>
          <div class="col-md-40 col-xl-30 col-xxl-35 px-xl-3 px-xxl-5">
            <h1 class="h6 d-md-none">{{idetail.name}}</h1>
            <h1 class="h5 d-none d-md-block d-xl-none">{{idetail.name}}</h1>
            <h1 class="h4 d-none d-xl-block">{{idetail.name}}</h1>
            <p><a [href]="idetail.parent.link"><strong>{{idetail.parent.title}}</strong></a></p>
            <p><a href="#"><app-ratings [shouldShowBlank]="false" [value]="idetail.ratings"></app-ratings></a></p>
            <div class="prod-desc" [class]="desctoggled ? 'active' : ''" (click)="desctoggled = !desctoggled">
              <button type="button" class="d-desc-cta w-100 p-2 pr-5 rounded-lg d-md-none text-left">
                <span class="txt">Product description</span>
                <span class="ikn plus">
                  <ion-icon name="add"></ion-icon>
                </span>
                <span class="ikn minus">
                  <ion-icon name="remove"></ion-icon>
                </span>
              </button>
              <div class="desc pt-3 pt-md-0" [innerHTML]="idetail.description"></div>
            </div>
          </div>
          <div class="col-60 d-xl-none">
            <hr/>
          </div>
          <div class="col-md-60 col-xl-14 col-xxl-10">
            <div class="row text-center">
              <div class="col-60 col-md-20 col-xl-60">
                <p class="current-price mb-1">
                  <app-price [currency]="idetail.currency" [price]="idetail.price"></app-price>
                </p>
                <p class="old-price">
                  <del><app-price [currency]="idetail.currency" [price]="idetail.oldprice"></app-price></del>
                </p>
              </div>
              <div class="col-60 col-md-20 col-xl-60">
                <app-cta-btn class="btn-block mb-2" [cProps]="{
                  tag: 'button',
                  type: 'button',
                  href: '',
                  text: 'Add to Cart',
                  title: 'Add to Cart',
                  primaryicon: 'cart',
                  ctaicon: '',
                  ctastyle: 'primary',
                  isoutline: 'false',
                  size: 'lg'
                }"></app-cta-btn>
                <app-cta-btn class="btn-block" [cProps]="{
                  tag: 'button',
                  type: 'button',
                  href: '',
                  text: 'Buy Now',
                  title: 'Buy Now',
                  primaryicon: 'paper-plane',
                  ctaicon: '',
                  ctastyle: 'light',
                  isoutline: 'false',
                  size: ''
                }"></app-cta-btn>
              </div>
              <div class="col-60 d-md-none d-xl-block">
                <hr/>
              </div>
              <div class="col-60 col-md-20 col-xl-60">
                <app-cta-btn [class]="'mx-1 mb-md-2 mb-xl-0 rounded-pill'" [cProps]="{
                  tag: 'button',
                  type: 'button',
                  href: '#',
                  text: 'Add to Wishlist',
                  title: 'Add to Wishlist',
                  primaryicon: 'heart',
                  ctaicon: '',
                  ctastyle: 'primary',
                  isoutline: 'true',
                  size: 'sm'
                }"></app-cta-btn>
                <br class="d-none d-md-block d-xl-none"/>
                <app-cta-btn [class]="'mx-1 rounded-pill'" [cProps]="{
                  tag: 'a',
                  type: '',
                  href: '#',
                  text: 'Share',
                  title: 'Share',
                  primaryicon: 'share-social',
                  ctaicon: '',
                  ctastyle: 'dark',
                  isoutline: 'true',
                  size: 'sm'
                }"></app-cta-btn>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #detailgallery>
  <div class="modal-header">
    <h4 class="modal-title pull-left">GALLERY</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <ion-icon name="close"></ion-icon>
    </button>
  </div>
  <div class="modal-body">
    <div id="detailslider">
      <div class="d-img" *ngFor="let img of imgArr">
        <img class="d-img-src d-none" [src]="img"/>
        <span aria-hidden="true">{{img}}</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="detail-modal-gallery m-0 w-100 text-center">
      <div class="d-img d-inline-block mr-3" *ngFor="let img of imgArr">
        <img class="d-img-src" [src]="img"/>
      </div>
    </div>
  </div>
</ng-template> 