<article class="item-teaser">
  <app-product-img [link]="cProps.link" [cProps]="cProps.img" class="mb-2"></app-product-img>
  <!-- <a [href]="cProps.link" class="item-img mb-2">
    <div>
      <app-responsive-image [imgData]="cProps.img || {}"></app-responsive-image>
    </div>
  </a> -->
  <div class="item-name mb-2">
    <!-- [titletext]="cProps.title"-->
    <span class="d-none">{{cProps.title}}</span>
    <a [href]="cProps.link" class="d-xl-none" aria-hidden="true" [innerHTML]="cProps.title | textTrimmer: 64"></a>
    <a [href]="cProps.link" class="d-none d-xl-block d-xxl-none" aria-hidden="true" [innerHTML]="cProps.title | textTrimmer: 64"></a>
    <a [href]="cProps.link" class="d-none d-xxl-block" aria-hidden="true" [innerHTML]="cProps.title | textTrimmer: 108"></a>
  </div>
  <div class="item-ratings mb-2">
    <app-ratings [shouldShowBlank]="true" [value]="cProps.ratings"></app-ratings>
  </div>
</article>