<section class="indexbanner-comp">
  <div class="max-wrap">
    <div class="hero-slider" #heroslider>
      <div class="hero-slide" *ngFor="let slide of bannerData">
        <div class="img-wrap">
          <app-responsive-image [imgData]="slide.img || {}"></app-responsive-image>
        </div>
        <a [href]="slide.link" class="text-wrap" [title]="slide.title">
          <div class="container-fluid">
            <div class="row">
              <div class="col-60">
                <h2 class="h5 p-2 rounded sr-only">{{slide.title}}</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
