<ul style="display: none;" id="color_ul" #color_ul>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="9213">
      <span data-colorhex="black" class="colour-label colour-colorDisplay" style="background-color: rgb(54, 69, 79);"></span><!-- react-text: 189 -->Black<!-- /react-text --><!-- react-text: 190 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 192 -->(<!-- /react-text --><!-- react-text: 193 -->9213<!-- /react-text --><!-- react-text: 194 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Black">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="8086">
      <span data-colorhex="white" class="colour-label colour-colorDisplay" style="background-color: rgb(255, 255, 255);"></span><!-- react-text: 200 -->White<!-- /react-text --><!-- react-text: 201 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 203 -->(<!-- /react-text --><!-- react-text: 204 -->8086<!-- /react-text --><!-- react-text: 205 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="White">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="7921">
      <span data-colorhex="blue" class="colour-label colour-colorDisplay" style="background-color: rgb(0, 116, 217);"></span><!-- react-text: 211 -->Blue<!-- /react-text --><!-- react-text: 212 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 214 -->(<!-- /react-text --><!-- react-text: 215 -->7921<!-- /react-text --><!-- react-text: 216 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Blue">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="7799">
      <span data-colorhex="navy blue" class="colour-label colour-colorDisplay" style="background-color: rgb(60, 68, 119);"></span><!-- react-text: 222 -->Navy Blue<!-- /react-text --><!-- react-text: 223 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 225 -->(<!-- /react-text --><!-- react-text: 226 -->7799<!-- /react-text --><!-- react-text: 227 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Navy Blue">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="4253">
      <span data-colorhex="grey" class="colour-label colour-colorDisplay" style="background-color: rgb(159, 168, 171);"></span><!-- react-text: 233 -->Grey<!-- /react-text --><!-- react-text: 234 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 236 -->(<!-- /react-text --><!-- react-text: 237 -->4253<!-- /react-text --><!-- react-text: 238 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Grey">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="3315">
      <span data-colorhex="red" class="colour-label colour-colorDisplay" style="background-color: rgb(211, 75, 86);"></span><!-- react-text: 244 -->Red<!-- /react-text --><!-- react-text: 245 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 247 -->(<!-- /react-text --><!-- react-text: 248 -->3315<!-- /react-text --><!-- react-text: 249 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Red">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="2416">
      <span data-colorhex="green" class="colour-label colour-colorDisplay" style="background-color: rgb(94, 177, 96);"></span><!-- react-text: 255 -->Green<!-- /react-text --><!-- react-text: 256 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 258 -->(<!-- /react-text --><!-- react-text: 259 -->2416<!-- /react-text --><!-- react-text: 260 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Green">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="2323">
      <span data-colorhex="grey melange" class="colour-label colour-colorDisplay" style="background-color: rgb(159, 168, 171);"></span><!-- react-text: 3104 -->Grey Melange<!-- /react-text --><!-- react-text: 3105 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3107 -->(<!-- /react-text --><!-- react-text: 3108 -->2323<!-- /react-text --><!-- react-text: 3109 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Grey Melange">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="1894">
      <span data-colorhex="charcoal" class="colour-label colour-colorDisplay" style="background-color: rgb(54, 69, 79);"></span><!-- react-text: 3115 -->Charcoal<!-- /react-text --><!-- react-text: 3116 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3118 -->(<!-- /react-text --><!-- react-text: 3119 -->1894<!-- /react-text --><!-- react-text: 3120 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Charcoal">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="1893">
      <span data-colorhex="olive" class="colour-label colour-colorDisplay" style="background-color: rgb(61, 153, 112);"></span><!-- react-text: 3126 -->Olive<!-- /react-text --><!-- react-text: 3127 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3129 -->(<!-- /react-text --><!-- react-text: 3130 -->1893<!-- /react-text --><!-- react-text: 3131 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Olive">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="1826">
      <span data-colorhex="maroon" class="colour-label colour-colorDisplay" style="background-color: rgb(176, 48, 96);"></span><!-- react-text: 3137 -->Maroon<!-- /react-text --><!-- react-text: 3138 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3140 -->(<!-- /react-text --><!-- react-text: 3141 -->1826<!-- /react-text --><!-- react-text: 3142 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Maroon">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="1500">
      <span data-colorhex="yellow" class="colour-label colour-colorDisplay" style="background-color: rgb(234, 220, 50);"></span><!-- react-text: 3148 -->Yellow<!-- /react-text --><!-- react-text: 3149 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3151 -->(<!-- /react-text --><!-- react-text: 3152 -->1500<!-- /react-text --><!-- react-text: 3153 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Yellow">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="984">
      <span data-colorhex="off white" class="colour-label colour-colorDisplay" style="background-color: rgb(242, 242, 242);"></span><!-- react-text: 3159 -->Off White<!-- /react-text --><!-- react-text: 3160 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3162 -->(<!-- /react-text --><!-- react-text: 3163 -->984<!-- /react-text --><!-- react-text: 3164 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Off White">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="922">
      <span data-colorhex="pink" class="colour-label colour-colorDisplay" style="background-color: rgb(241, 169, 196);"></span><!-- react-text: 3170 -->Pink<!-- /react-text --><!-- react-text: 3171 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3173 -->(<!-- /react-text --><!-- react-text: 3174 -->922<!-- /react-text --><!-- react-text: 3175 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Pink">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="918">
      <span data-colorhex="orange" class="colour-label colour-colorDisplay" style="background-color: rgb(242, 141, 32);"></span><!-- react-text: 3181 -->Orange<!-- /react-text --><!-- react-text: 3182 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3184 -->(<!-- /react-text --><!-- react-text: 3185 -->918<!-- /react-text --><!-- react-text: 3186 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Orange">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="719">
      <span data-colorhex="teal" class="colour-label colour-colorDisplay" style="background-color: rgb(0, 128, 128);"></span><!-- react-text: 3192 -->Teal<!-- /react-text --><!-- react-text: 3193 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3195 -->(<!-- /react-text --><!-- react-text: 3196 -->719<!-- /react-text --><!-- react-text: 3197 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Teal">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="685">
      <span data-colorhex="mustard" class="colour-label colour-colorDisplay" style="background-color: rgb(204, 156, 51);"></span><!-- react-text: 3203 -->Mustard<!-- /react-text --><!-- react-text: 3204 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3206 -->(<!-- /react-text --><!-- react-text: 3207 -->685<!-- /react-text --><!-- react-text: 3208 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Mustard">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="497">
      <span data-colorhex="burgundy" class="colour-label colour-colorDisplay" style="background-color: rgb(160, 50, 69);"></span><!-- react-text: 3214 -->Burgundy<!-- /react-text --><!-- react-text: 3215 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3217 -->(<!-- /react-text --><!-- react-text: 3218 -->497<!-- /react-text --><!-- react-text: 3219 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Burgundy">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="494">
      <span data-colorhex="beige" class="colour-label colour-colorDisplay" style="background-color: rgb(232, 230, 207);"></span><!-- react-text: 3225 -->Beige<!-- /react-text --><!-- react-text: 3226 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3228 -->(<!-- /react-text --><!-- react-text: 3229 -->494<!-- /react-text --><!-- react-text: 3230 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Beige">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="489">
      <span data-colorhex="brown" class="colour-label colour-colorDisplay" style="background-color: rgb(145, 80, 57);"></span><!-- react-text: 3236 -->Brown<!-- /react-text --><!-- react-text: 3237 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3239 -->(<!-- /react-text --><!-- react-text: 3240 -->489<!-- /react-text --><!-- react-text: 3241 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Brown">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="442">
      <span data-colorhex="coral" class="colour-label colour-colorDisplay" style="background-color: rgb(255, 127, 80);"></span><!-- react-text: 3247 -->Coral<!-- /react-text --><!-- react-text: 3248 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3250 -->(<!-- /react-text --><!-- react-text: 3251 -->442<!-- /react-text --><!-- react-text: 3252 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Coral">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="413">
      <span data-colorhex="rust" class="colour-label colour-colorDisplay" style="background-color: rgb(183, 65, 14);"></span><!-- react-text: 3258 -->Rust<!-- /react-text --><!-- react-text: 3259 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3261 -->(<!-- /react-text --><!-- react-text: 3262 -->413<!-- /react-text --><!-- react-text: 3263 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Rust">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="353">
      <span data-colorhex="purple" class="colour-label colour-colorDisplay" style="background-color: rgb(128, 0, 128);"></span><!-- react-text: 3269 -->Purple<!-- /react-text --><!-- react-text: 3270 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3272 -->(<!-- /react-text --><!-- react-text: 3273 -->353<!-- /react-text --><!-- react-text: 3274 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Purple">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="296">
      <span data-colorhex="peach" class="colour-label colour-colorDisplay" style="background-color: rgb(255, 229, 180);"></span><!-- react-text: 3280 -->Peach<!-- /react-text --><!-- react-text: 3281 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3283 -->(<!-- /react-text --><!-- react-text: 3284 -->296<!-- /react-text --><!-- react-text: 3285 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Peach">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="250">
      <span data-colorhex="cream" class="colour-label colour-colorDisplay" style="background-color: rgb(237, 230, 185);"></span><!-- react-text: 3291 -->Cream<!-- /react-text --><!-- react-text: 3292 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3294 -->(<!-- /react-text --><!-- react-text: 3295 -->250<!-- /react-text --><!-- react-text: 3296 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Cream">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="226">
      <span data-colorhex="sea green" class="colour-label colour-colorDisplay" style="background-color: rgb(46, 139, 87);"></span><!-- react-text: 3302 -->Sea Green<!-- /react-text --><!-- react-text: 3303 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3305 -->(<!-- /react-text --><!-- react-text: 3306 -->226<!-- /react-text --><!-- react-text: 3307 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Sea Green">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="223">
      <span data-colorhex="turquoise blue" class="colour-label colour-colorDisplay" style="background-color: rgb(64, 224, 208);"></span><!-- react-text: 3313 -->Turquoise Blue<!-- /react-text --><!-- react-text: 3314 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3316 -->(<!-- /react-text --><!-- react-text: 3317 -->223<!-- /react-text --><!-- react-text: 3318 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Turquoise Blue">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="214">
      <span data-colorhex="multi" class="colour-label myntraweb-sprite colour-multiColorLabel sprites-multiColour colour-colorDisplay" style="background-color: rgba(0, 0, 0, 0);"></span><!-- react-text: 3324 -->Multi<!-- /react-text --><!-- react-text: 3325 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3327 -->(<!-- /react-text --><!-- react-text: 3328 -->214<!-- /react-text --><!-- react-text: 3329 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Multi">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="82">
      <span data-colorhex="khaki" class="colour-label colour-colorDisplay" style="background-color: rgb(195, 176, 145);"></span><!-- react-text: 3335 -->Khaki<!-- /react-text --><!-- react-text: 3336 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3338 -->(<!-- /react-text --><!-- react-text: 3339 -->82<!-- /react-text --><!-- react-text: 3340 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Khaki">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="75">
      <span data-colorhex="lime green" class="colour-label colour-colorDisplay" style="background-color: rgb(93, 182, 83);"></span><!-- react-text: 3346 -->Lime Green<!-- /react-text --><!-- react-text: 3347 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3349 -->(<!-- /react-text --><!-- react-text: 3350 -->75<!-- /react-text --><!-- react-text: 3351 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Lime Green">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="66">
      <span data-colorhex="fluorescent green" class="colour-label colour-colorDisplay" style="background-color: rgb(141, 192, 74);"></span><!-- react-text: 3357 -->Fluorescent Green<!-- /react-text --><!-- react-text: 3358 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3360 -->(<!-- /react-text --><!-- react-text: 3361 -->66<!-- /react-text --><!-- react-text: 3362 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Fluorescent Green">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="63">
      <span data-colorhex="taupe" class="colour-label colour-colorDisplay" style="background-color: rgb(72, 60, 50);"></span><!-- react-text: 3368 -->Taupe<!-- /react-text --><!-- react-text: 3369 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3371 -->(<!-- /react-text --><!-- react-text: 3372 -->63<!-- /react-text --><!-- react-text: 3373 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Taupe">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="60">
      <span data-colorhex="mauve" class="colour-label colour-colorDisplay" style="background-color: rgb(224, 176, 255);"></span><!-- react-text: 3379 -->Mauve<!-- /react-text --><!-- react-text: 3380 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3382 -->(<!-- /react-text --><!-- react-text: 3383 -->60<!-- /react-text --><!-- react-text: 3384 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Mauve">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="49">
      <span data-colorhex="lavender" class="colour-label colour-colorDisplay" style="background-color: rgb(214, 214, 229);"></span><!-- react-text: 3390 -->Lavender<!-- /react-text --><!-- react-text: 3391 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3393 -->(<!-- /react-text --><!-- react-text: 3394 -->49<!-- /react-text --><!-- react-text: 3395 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Lavender">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="41">
      <span data-colorhex="coffee brown" class="colour-label colour-colorDisplay" style="background-color: rgb(75, 48, 47);"></span><!-- react-text: 3401 -->Coffee Brown<!-- /react-text --><!-- react-text: 3402 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3404 -->(<!-- /react-text --><!-- react-text: 3405 -->41<!-- /react-text --><!-- react-text: 3406 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Coffee Brown">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="29">
      <span data-colorhex="magenta" class="colour-label colour-colorDisplay" style="background-color: rgb(185, 82, 159);"></span><!-- react-text: 3412 -->Magenta<!-- /react-text --><!-- react-text: 3413 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3415 -->(<!-- /react-text --><!-- react-text: 3416 -->29<!-- /react-text --><!-- react-text: 3417 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Magenta">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="7">
      <span data-colorhex="tan" class="colour-label colour-colorDisplay" style="background-color: rgb(210, 180, 140);"></span><!-- react-text: 3423 -->Tan<!-- /react-text --><!-- react-text: 3424 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3426 -->(<!-- /react-text --><!-- react-text: 3427 -->7<!-- /react-text --><!-- react-text: 3428 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Tan">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="4">
      <span data-colorhex="gold" class="colour-label colour-colorDisplay" style="background-color: rgb(229, 199, 74);"></span><!-- react-text: 3434 -->Gold<!-- /react-text --><!-- react-text: 3435 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3437 -->(<!-- /react-text --><!-- react-text: 3438 -->4<!-- /react-text --><!-- react-text: 3439 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Gold">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="3">
      <span data-colorhex="rose" class="colour-label colour-colorDisplay" style="background-color: rgb(221, 47, 134);"></span><!-- react-text: 3445 -->Rose<!-- /react-text --><!-- react-text: 3446 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3448 -->(<!-- /react-text --><!-- react-text: 3449 -->3<!-- /react-text --><!-- react-text: 3450 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Rose">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="3">
      <span data-colorhex="nude" class="colour-label colour-colorDisplay" style="background-color: rgb(219, 175, 151);"></span><!-- react-text: 3456 -->Nude<!-- /react-text --><!-- react-text: 3457 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3459 -->(<!-- /react-text --><!-- react-text: 3460 -->3<!-- /react-text --><!-- react-text: 3461 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Nude">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="2">
      <span data-colorhex="bronze" class="colour-label colour-colorDisplay" style="background-color: rgb(204, 130, 64);"></span><!-- react-text: 3467 -->Bronze<!-- /react-text --><!-- react-text: 3468 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3470 -->(<!-- /react-text --><!-- react-text: 3471 -->2<!-- /react-text --><!-- react-text: 3472 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Bronze">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
  <li class="colour-listItem">
    <label class="common-customCheckbox" data-count="1">
      <span data-colorhex="steel" class="colour-label colour-colorDisplay" style="background-color: rgb(179, 179, 179);"></span><!-- react-text: 3478 -->Steel<!-- /react-text --><!-- react-text: 3479 --> <!-- /react-text -->
      <span class="colour-num">
        <!-- react-text: 3481 -->(<!-- /react-text --><!-- react-text: 3482 -->1<!-- /react-text --><!-- react-text: 3483 -->)<!-- /react-text -->
      </span>
      <input type="checkbox" value="Steel">
      <div class="common-checkboxIndicator"></div>
    </label>
  </li>
</ul>