html {
  font-size: 16px;
}
body {
  background-color: $gray-900;
  backface-visibility: hidden;
  // letter-spacing: rem(0.4px);
}
.max-wrap {
  max-width: rem(1920px);
  margin: 0 auto;
}

body {
  &.nav-open {
    overflow: hidden;
  }
  .slick-dots {
    // background-color: rgba($light, 0.9);
    bottom: 0;
    display: block;
    height: rem(24px);
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;

    &,
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      // margin-top: rem(13px);
      margin: 0 rem(8px);

      &.slick-active button {
        background-color: $primary;
      }
    }

    button {
      background-color: $light;
      border-radius: rem(6px);
      border: rem(1px) solid $light;
      height: 10px;
      overflow: hidden;
      text-indent: -9999px;
      width: 24px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: rem(1px);
        left: rem(1px);
        width: calc(100% - #{rem(2px)});
        height: calc(100% - #{rem(2px)});
        border: 1px solid $primary;
        border-radius: rem(4px);
      }
    }
  }
}
body {
  @keyframes rotating {
    100% {
      transform: rotate(360deg);
    }
  }

  .ld-spinner {
    border-radius: 50%;
    width: rem(40px);
    height: rem(40px);
    border: rem(4px) solid rgba(0, 0, 0, 0.1);
    border-top: rem(4px) solid $dark;
    animation: rotating 1s infinite cubic-bezier(0.75, 0.25, 0.25, 0.75);
  }

  b, strong {
    font-weight: 700;
  }

  .slick-arrow {
    &.slick-prev, &.slick-next {
      width: auto;
      height: auto;
      line-height: 1;
      z-index: 5;
      &:before {
        display: none;
      }
    }
    &.slick-prev {
      left: 0;
    }
    &.slick-next {
      right: 0;
    }
  }

  typeahead-container {
    width: 100%;
  }

  .idetail-modal {
    width: 100%;
    height: 100%;
    margin: 0;
    max-width: none;
    border-radius: 0;
    display: flex;
    .modal-header, .modal-content {
      border-radius: 0;
    }
    .detail-modal-gallery {
      overflow-x: scroll;
      white-space: nowrap;
      .d-img {
        width: rem(48px);
        height: rem(48px);
        img {
          width: 100%;
        }
      }
    }
    #detailslider {
      &, .slick-track, .d-img {
        display: flex !important;
        height: 100%;
        width: 100%;
      }
      .slick-track .slick-slide {
        &, & > div {
          display: flex;
          height: 100%; 
          width: 100% !important;
          position: relative;
        }
      }
      .d-img {
        justify-content: center;
        align-items: center;
        position: relative;
      }
      .d-img-src {
        @include center-center();
        &.tall {
          width: 100%;
          height: auto;
        }
        &.wide {
          width: auto;
          height: 100%;
        }
      }
    }
  }
}