// $palette-color1: #8cd0e5;
// $palette-color2: #376888;
// $palette-color3: #826b88;
// $palette-color4: #de786a;
// $palette-color5: #f8b976;
// $palette-color6: #fcddc9;

// $primary: #376888;
// $secondary: #826b88;
// $success: #6bc76b;
// $info: #8cd0e5;
// $warning: #f8b976;
// $danger: #de786a;
// $light: #fcddc9;
// $dark: #3d4447;

$primary: #205d86;
$secondary: #77448b;
$success: #20603c;
$info: #3a539b;
$warning: #804600;
$danger: #b11030;
$light: #fcddc9;
$dark: #34515e;

$primarylight: #34b9db;
$secondarylight: #be90d4;
$successlight: #90c695;
$infolight: #6bb9f0;
$warninglight: #f4b350;
$dangerlight: #ff6347;
$lightlight: #804600;
$darklight: #fcddc9;
