.nav-search-wrap {
  padding: rem(16px 184px 17px 104px);
  select {
    // border-top-right-radius: 0;
    // border-bottom-right-radius: 0;
    border-radius: 0;
  }
}

.hdr-nav-wrap, .site-nav-wrap {
  width: rem(480px);
}
.site-nav-loc {
  margin: 0;
}
