.siteheader-buffer, .siteheader-comp {
  height: rem(64px);
}
.site-nav-buffer {
  background-color: $secondary-dark;
  transition: all 0.25s ease;
  height: 0;
}
.nav-search-wrap {
  // max-width: rem(960px);
  padding: rem(16px 192px 17px 192px);
}
.siteheader-comp {
  .nav-wrap {
    button {
      margin: 0 0 0 rem(16px);

      &:hover {
        color: $light;
        background-color: $dark;
      }
    }
  }
}
.site-nav-wrap {
  position: relative;
  top: 0;
  right: auto;
  transform: translateX(0);
  border-top: rem(1px) solid $secondary;
  left: 0;
  height: rem(50px);
  z-index: 830;
  background-color: rgba($secondary-dark, 0.9);
  width: 100%;
  overflow: visible;
  backdrop-filter: blur(#{rem(8px)});
  .max-wrap {
    position: relative;
  }
  .accessible-megamenu {
    padding: 0 rem(200px);
    display: flex;
    flex-direction: row;
  }
  .accessible-megamenu .accessible-megamenu-panel {
    border: rem(1px) solid $secondary-dark;
    border-top: rem(1px) solid $secondary;
    box-shadow: none;
    border-radius: rem(0 0 $border-radius $border-radius);
    left: rem(-1px);
    width: calc(100% + #{rem(2px)});
    background: $secondary;
  }
  .accessible-megamenu > .accessible-megamenu-top-nav-item {
    height: auto;
    width: 100%;
    a {
      font-size: rem(14px);
      height: rem(48px);
      line-height: 1;
      padding: rem(2px 8px);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      .ikn {
        display: none !important;
      }
      &.open, &:hover, &:focus {
        background: $secondary;
      }
    }
    .accessible-megamenu-panel {
      a {
        height: auto;
        text-align: left;
        &.open, &:hover, &:focus, &.focus {
          background: transparent;
        }
      }
    }
  }
}
.site-nav-loc {
  background-color: transparent;
  border: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: rem(200px);
  height: rem(48px);
  padding-left: rem(48px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 5;
  .loc-icon {
    position: absolute;
    left: 0;
    top: 0;
    height: rem(48px);
    width: rem(48px);
    text-align: center;
    font-size: rem(24px);
    line-height: 2.2;
  }
}