.item-teaser {
  // background-color: $gray-200;
  // border-radius: $border-radius;
  transition: background-color 250ms ease;
  // border: rem(1px) solid $gray-200;
  border: rem(1px) solid transparent;
  &:hover {
    // background-color: $white;
    // border: rem(1px) solid $white;
  }

  .item-name {
    font-size: rem(14px);
    // min-height: rem(62px);
  }
  &.xs {
    width: rem(160px);
  }
  &.md {
    width: rem(210px);
  }
  &.xl {
    width: rem(160px);
  }
  &.xxl {
    width: rem(250px);
  }
  .xs-hidden, .md-hidden, .xl-hidden, .xxl-hidden {
    display: none;
  }
}