<div class="main-content">
  <div class="max-wrap">
    <div class="container-fluid pt-2 pb-5 pt-md-3 pt-xl-5">
      <div class="row justify-content-center">
        <div class="col-60">
          <app-section-header [data]="{
            align: 'center',
            icon: 'groups',
            icontype: 'material',
            tag: 'h1',
            theme: '',
            title: 'Manage Users'
          }">
        </app-section-header>
        </div>
        <div class="col-60">
          <div>
            <table class="table w-100">
              <thead>
                <tr>
                  <th *ngFor="let th of cols">
                    {{th}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of rows">
                  <td>
                    <div class="d-inline-block" style="width: 2rem; height: 2rem;">
                      <app-user-avatar [cProps]="{
                        firstname: row.__FIRSTNAME,
                        lastname: row.__LASTNAME
                      }"></app-user-avatar>
                    </div>
                  </td>
                  <td><small>{{row.__FIRSTNAME}}</small>
                  </td>
                  <td><small>{{row.__MIDDLENAME}}</small>
                  </td>
                  <td><small>{{row.__LASTNAME}}</small>
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    <small [innerHTML]="row.__JOINED | dateFormatter: 'P'"></small>
                  </td>
                  <td>
                    <app-status-pill [cProps]="row.__STATUS"></app-status-pill>
                    <!-- <div class="text-success" *ngIf="row.__STATUS === 'ACTIVE'; else dangerStatus"><small><strong>{{row.__STATUS}}</strong></small></div>
                    <ng-template #dangerStatus>
                      <div class="text-danger" *ngIf="['INACTIVE', 'CANCELLED'].includes(row.__STATUS); else otherStatus"><small><strong>{{row.__STATUS}}</strong></small></div>
                    </ng-template>
                    <ng-template #otherStatus>
                      <div class="text-warning"><small><strong>{{row.__STATUS}}</strong></small></div>
                    </ng-template> -->
                  </td>
                  <td>
                    <app-cta-btn [cProps]="{
                      tag: 'a',
                      href: 'manage-users/' + row._id,
                      text: 'Details',
                      title: 'Details',
                      primaryicon: '',
                      ctaicon: 'chevron-forward',
                      ctastyle: 'dark',
                      isoutline: 'true',
                      size: 'sm'
                    }"></app-cta-btn>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-60 text-center border-top pt-3 mt-3">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item" [class]="currentpage === 1 ? 'disabled' : ''">
                <button class="page-link" type="button" aria-label="First" (click)="getAllUsers(1, limit)" [disabled]="currentpage === 1 ? 'disabled' : ''">
                  <ion-icon name="arrow-back"></ion-icon>
                </button>
              </li>
              <li class="page-item" [class]="currentpage === 1 ? 'disabled' : ''">
                <button class="page-link" type="button" aria-label="Previous" (click)="getAllUsers(currentpage - 1, limit)" [disabled]="currentpage === 1 ? 'disabled' : ''">
                  <ion-icon name="chevron-back"></ion-icon>
                </button>
              </li>
              <li class="page-item" [class]="li.isactive ? 'active' : ''" *ngFor="let li of pagination">
                <button class="page-link" type="button" (click)="getAllUsers(li.pagenum, limit)">{{li.pagenum}}</button>
              </li>
              <li class="page-item" [class]="currentpage === totalpages ? 'disabled' : ''">
                <button class="page-link" type="button" aria-label="Next" (click)="getAllUsers(currentpage + 1, limit)" [disabled]="currentpage === totalpages ? 'disabled' : ''">
                  <ion-icon name="chevron-forward"></ion-icon>
                </button>
              </li>
              <li class="page-item" [class]="currentpage === totalpages ? 'disabled' : ''">
                <button class="page-link" type="button" aria-label="Last" (click)="getAllUsers(totalpages, limit)" [disabled]="currentpage === totalpages ? 'disabled' : ''">
                  <ion-icon name="arrow-forward"></ion-icon>
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
