<div class="main-content">
  <div class="login-comp">
    <div class="max-wrap">
      <div class="container-fluid pt-2 pb-5 pt-md-3 pt-xl-5">
        <div class="row justify-content-center">
          <div class="col-60 col-md-40 col-xl-30">
            <div class="login-wrap p-1 p-md-3 p-xl-5 bg-white rounded-lg">
              <form [formGroup]="bulkForm" (ngSubmit)="onBulk()">
                <app-cta-btn class="mb-2" [cProps]="{
                  tag: 'button',
                  type: 'submit',
                  text: 'Generate Bulk Products',
                  title: 'Generate Bulk Products',
                  primaryicon: '',
                  ctaicon: 'chevron-forward',
                  ctastyle: 'primary',
                  isoutline: 'false'
                }"></app-cta-btn>
                <br/>
                <div class="mb-2"></div>
                <app-alert-msg *ngIf="isRegLoading" [cProps]="{
                  type: 'info',
                  title: '',
                  content: 'Please wait',
                  icon: 'loading-spinner',
                  actions: [],
                  isClosable: false
                }"></app-alert-msg>
                <app-alert-msg *ngIf="isRegFailed" [cProps]="{
                  type: 'danger',
                  title: '',
                  content: regFailMsg,
                  icon: 'alert-circle',
                  actions: [],
                  isClosable: false
                }"></app-alert-msg>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
