.sitenav-comp {
  width: 48px;
  transform: translateX(0);
  transition: width 250ms ease;
  transition-delay: 125ms;
  .sn-logo-holder{
    overflow: hidden;
    width: 40px;
    transition: width 250ms ease;
  }
  .sn-content {
    a {
      width: 0;
      transition: width 250ms ease;
    }
  }
  .sn-close-wrap {
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms ease;
    transition-delay: 125ms;
  }
  &.active {
    width: 360px;
    .sn-close-wrap {
      opacity: 1;
      visibility: visible;
    }
    .sn-logo-holder{
      width: 80px;
    }
    .sn-content {
      a {
        width: 100%;
      }
    }
  }
}
.sitenav-mask {
  background-color: rgba($white, 0.9);
  transform: translateX(-100%);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: transform 250ms ease;
  transition-delay: 125ms;
  z-index: 975;
  &.active {
    transform: translateX(0);
  }
}