<div class="main-content">
  <div class="login-comp">
    <div class="max-wrap">
      <div class="container-fluid pt-2 pb-5 pt-md-3 pt-xl-5">
        <div class="row justify-content-center">
          <div class="col-60 col-md-40 col-xl-30 text-uppercase">
            <h1>Register</h1>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-60 col-md-40 col-xl-30">
            <form [formGroup]="regForm" (ngSubmit)="onSignupSubmit()">

              <div class="form-group">
                <label for="regfirstname"><strong>First Name</strong></label>
                <input type="text" class="form-control" id="regfirstname"
                  [ngClass]="{'is-invalid': regFormSubmitted && regControls.__FIRSTNAME.errors}"
                  placeholder="First Name" formControlName="__FIRSTNAME">
                <div *ngIf="regFormSubmitted && regControls.__FIRSTNAME.errors" class="invalid-feedback">
                  <div *ngIf="regControls.__FIRSTNAME.errors.required">First Name is required</div>
                </div>
              </div>

              <div class="form-group">
                <label for="regmiddlename"><strong>Middle Name</strong></label>
                <input type="text" class="form-control" id="regmiddlename"
                  [ngClass]="{'is-invalid': regFormSubmitted && regControls.__MIDDLENAME.errors}"
                  placeholder="Middle Name" formControlName="__MIDDLENAME">
                <div *ngIf="regFormSubmitted && regControls.__MIDDLENAME.errors" class="invalid-feedback">
                  <div *ngIf="regControls.__FIRSTNAME.errors.required">Middle Name error</div>
                </div>
              </div>

              <div class="form-group">
                <label for="reglastname"><strong>Last Name</strong></label>
                <input type="text" class="form-control" id="reglastname"
                  [ngClass]="{'is-invalid': regFormSubmitted && regControls.__LASTNAME.errors}"
                  placeholder="Last Name" formControlName="__LASTNAME">
                <div *ngIf="regFormSubmitted && regControls.__LASTNAME.errors" class="invalid-feedback">
                  <div *ngIf="regControls.__LASTNAME.errors.required">Last Name is required</div>
                </div>
              </div>

              <div class="form-group">
                <label for="regemail"><strong>Email address</strong></label>
                <input type="email" class="form-control" id="regemail"
                  [ngClass]="{'is-invalid': regFormSubmitted && regControls.__EMAIL.errors}"
                  placeholder="Email Address" formControlName="__EMAIL">
                <div *ngIf="regFormSubmitted && regControls.__EMAIL.errors" class="invalid-feedback">
                  <div *ngIf="regControls.__EMAIL.errors.required">Email is required</div>
                  <div *ngIf="regControls.__EMAIL.errors.email">Email must be a valid email address</div>
                </div>
              </div>
              
              <div class="form-group">
                <label for="regpassword"><strong>Password</strong></label>
                <input type="password" class="form-control"
                  [ngClass]="{'is-invalid': regFormSubmitted && regControls.__PASSWORD.errors}" id="regpassword"
                  placeholder="Password" formControlName="__PASSWORD">
                <div *ngIf="regFormSubmitted && regControls.__PASSWORD.errors" class="invalid-feedback">
                  <div *ngIf="regControls.__PASSWORD.errors.required">Password is required</div>
                  <div *ngIf="regControls.__PASSWORD.errors.pattern">Password must follow pattern</div>
                </div>
              </div>
              
              <app-cta-btn class="mr-3" [cProps]="{
                tag: 'button',
                type: 'submit',
                text: 'Sign Up',
                title: 'Sign Up',
                primaryicon: '',
                ctaicon: 'chevron-forward',
                ctastyle: 'primary',
                isoutline: 'false'
              }"></app-cta-btn>
              Already have an account? <a href="#">Login Now</a>.
              <!-- <div class="mb-3"></div>
              <app-alert-msg *ngIf="isLoginLoading" [cProps]="{
                type: 'info',
                title: '',
                content: 'Please wait',
                icon: 'loading-spinner',
                actions: [],
                isClosable: false
              }"></app-alert-msg>
              <app-alert-msg *ngIf="isLoginFailed" [cProps]="{
                type: 'danger',
                title: '',
                content: loginFailMsg,
                icon: 'alert-circle',
                actions: [],
                isClosable: false
              }"></app-alert-msg> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
