<div class="alert custom"
  [ngClass]="['alert-' + type, (icon ? 'with-icon' : ''), (isClosable ? 'alert-dismissible' : '')]" role="alert">
  <div class="icn" *ngIf="icon">
    <div class="ld-spinner" *ngIf="icon === 'loading-spinner'; else elseBlock"></div>
    <ng-template #elseBlock>
      <ion-icon [name]="icon"></ion-icon>
    </ng-template>
  </div>
  <div class="txt">
    <h4 class="alert-heading" [innerHTML]="title" *ngIf="title"></h4>
    <div [innerHTML]="content" *ngIf="content"></div>
    <div *ngIf="actions.length > 0" class="btn-holder">
      <hr>
      <!-- <app-cta *ngFor="let cta of actions" [data]="cta"></app-cta> -->
    </div>
  </div>
  <button *ngIf="isClosable" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true" class="mdi mdi-close"></span>
  </button>
</div>
