<div class="main-content">
  <app-index-banner></app-index-banner>
  <section class="generic-content py-2">
    <div class="bg-wrap">
      <div class="max-wrap">
        <div class="container-fluid">
          <div class="row">
            <div class="col-60">
              <app-promo-grid></app-promo-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section *ngFor="let section of indexData" class="generic-content py-2" [ngClass]="section.theme">
    <div class="bg-wrap" [ngClass]="section.bg">
      <div class="max-wrap">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 mt-3 mb-3 align-center">
              <!-- <app-section-header [data]="{
                  align: 'center',
                  icon: section.icon,
                  tag: 'h2',
                  theme: section.theme,
                  title: section.title
                }">
              </app-section-header> -->
            </div>
          </div>
          <div class="row">
            <div class="col-60">

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
