<div class="main-content">
  <app-indexbanner></app-indexbanner>
  <section *ngFor="let section of indexData" class="generic-content py-2" [ngClass]="section.theme">
    <div class="bg-wrap" [ngClass]="section.bg">
      <div class="max-wrap">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 mt-3 mb-3 align-center">
              <!-- <app-section-header [data]="{
                  align: 'center',
                  icon: section.icon,
                  tag: 'h2',
                  theme: section.theme,
                  title: section.title
                }">
              </app-section-header> -->
            </div>
          </div>
          <div class="row">
            <div class="col-60">
              <div class="banner-comp">
                <div class="banner-row">
                  <div>
                    <div class="banner-tile p-2">
                      <div class="d-flex h-100" style="background-color: red;">hi</div>
                    </div>
                  </div>
                  <div>
                    <div class="banner-tile p-2">
                      <div class="d-flex h-100" style="background-color: blue;">hi</div>
                    </div>
                  </div>
                  <div>
                    <div class="banner-tile p-2">
                      <div class="d-flex h-100" style="background-color: green;">hi</div>
                    </div>
                  </div>
                  <div>
                    <div class="banner-tile p-2">
                      <div class="d-flex h-100" style="background-color: yellow;">hi</div>
                    </div>
                  </div>
                </div>
                <div class="banner-row">
                  <div>
                    <div class="banner-tile p-2">
                      <div class="d-flex h-100" style="background-color: red;">hi</div>
                    </div>
                  </div>
                  <div>
                    <div class="banner-tile p-2">
                      <div class="d-flex h-100" style="background-color: blue;">hi</div>
                    </div>
                  </div>
                  <div>
                    <div class="banner-tile p-2">
                      <div class="d-flex h-100" style="background-color: green;">hi</div>
                    </div>
                  </div>
                  <div>
                    <div class="banner-tile p-2">
                      <div class="d-flex h-100" style="background-color: yellow;">hi</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
