<div class="main-content">
  <app-indexbanner></app-indexbanner>
  <section *ngFor="let section of indexData" class="generic-content" [ngClass]="section.theme">
    <div class="bg-wrap" [ngClass]="section.bg">
      <div class="max-wrap">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 mt-3 mb-3 align-center">
              <!-- <app-section-header [data]="{
                  align: 'center',
                  icon: section.icon,
                  tag: 'h2',
                  theme: section.theme,
                  title: section.title
                }">
              </app-section-header> -->
            </div>
          </div>
          <div class="row">
            <div class="col-60">
              <div class="dgcon">
                <div class="dgrow">
                  <div class="dgcol-1-30 dgcol-md-1-15 grspan-1-2 my-2">
                    <div style="display: flex; height: 100%; width: 100%; background-color: red;">hi1</div>
                  </div>
                  <div class="dgcol-31-30 dgcol-md-16-15 my-2">
                    <div style="display: flex; height: 100%; width: 100%; background-color: green;">hi2</div>
                  </div>
                  <div class="dgcol-31-30 dgcol-md-31-15 my-2">
                    <div style="display: flex; height: 100%; width: 100%; background-color: yellow;">hi3</div>
                  </div>
                  <div class="dgcol-md-46-15 my-2 d-none d-md-block">
                    <div style="display: flex; height: 100%; width: 100%; background-color: violet;">hi5</div>
                  </div>
                  <div class="dgcol-1-60 dgcol-md-16-45 my-2">
                    <div style="display: flex; height: 100%; width: 100%; background-color: blue;">hi4</div>
                  </div>
                  <div class="dgcol-1-30 my-2 d-md-none">
                    <div style="display: flex; height: 100%; width: 100%; background-color: violet;">hi5</div>
                  </div>
                  <div class="dgcol-31-30 my-2 d-md-none">
                    <div style="display: flex; height: 100%; width: 100%; background-color: navy;">hi6</div>
                  </div>
                  <div class="dgcol-1-60 dgcol-md-1-45 my-2">
                    <div style="display: flex; height: 100%; width: 100%; background-color: brown;">hi7</div>
                  </div>
                  <div class="dgcol-md-46-15 grspan-3-2 my-2 d-none d-md-block">
                    <div style="display: flex; height: 100%; width: 100%; background-color: darkcyan;">hi9</div>
                  </div>
                  <div class="dgcol-md-1-15 my-2 d-none d-md-block">
                    <div style="display: flex; height: 100%; width: 100%; background-color: navy;">hi6</div>
                  </div>
                  <div class="dgcol-1-30 dgcol-md-16-15 my-2">
                    <div style="display: flex; height: 100%; width: 100%; background-color: darkkhaki;">hi8</div>
                  </div>
                  <div class="dgcol-31-30 grspan-6-2 my-2 d-md-none">
                    <div style="display: flex; height: 100%; width: 100%; background-color: darkcyan;">hi9</div>
                  </div>
                  <div class="dgcol-1-30 dgcol-md-31-15 my-2">
                    <div style="display: flex; height: 100%; width: 100%; background-color: darkgoldenrod;">hi10</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mt-3 mb-3 align-center">
              <div class="section-footer">
                <!-- <app-cta [data]="{
                    tag: 'a',
                    title: section.morectatitle,
                    cssclass: 'btn-info btn-lg',
                    text: section.morectatext,
                    icon: section.morectaicon,
                    href: section.morectalink
                  }"></app-cta> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
