<section class="sitefooter-comp">
  <footer>
    <div class="footer-wrap p-md-5">
      <div class="max-wrap">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-60 col-md-12 col-xl-10 p-0 px-md-3" *ngFor="let item of footerData.nav">
              <app-sitefooter-column [cProps]="item"></app-sitefooter-column>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-60 py-2 py-md-4 text-center">
      <p class="m-0">&copy; 2020</p>
    </div>
    <div class="col-12">
      <div id="lipsum">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum non sapien sit amet volutpat. Vestibulum commodo est et est laoreet sagittis. Aliquam lectus nisi, malesuada eget mattis eu, ornare id libero. Donec et pretium enim, non sodales sapien. Sed sed gravida sapien. Sed sit amet consequat elit. Maecenas quam risus, vulputate ut aliquam vitae, maximus sed justo. Nulla ac ex at diam posuere semper. Aliquam enim diam, viverra ac gravida eget, porta ac nulla. Phasellus non dapibus velit, non porta risus.
        </p>
        <p>
        Integer at aliquet leo, in tincidunt ex. Etiam arcu ante, rutrum laoreet blandit a, suscipit ac urna. Sed accumsan pulvinar orci, quis molestie ante. Nam eget neque ultrices, rhoncus dui nec, iaculis ligula. Mauris ac nunc sed ex blandit dapibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce id viverra mauris. Phasellus pharetra risus lectus, id auctor nibh ultrices nec. Suspendisse eleifend lectus vitae ipsum posuere, in tempor justo fermentum. Curabitur condimentum aliquet risus, ut iaculis lectus luctus vel. Phasellus euismod ex aliquam suscipit placerat. Ut sollicitudin ante at pellentesque pretium.
        </p>
        <p>
        Integer dictum eu nibh nec convallis. Nulla consequat leo eget nisi porta dignissim. Phasellus nec eros leo. In dictum elementum accumsan. Mauris sed euismod nulla. Vivamus vitae interdum mauris. Duis viverra porta eleifend. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi dolor est, tempus ut ligula at, suscipit imperdiet orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat volutpat.
        </p>
        <p>
        Curabitur eget velit lobortis, egestas neque id, accumsan est. Integer magna dolor, lobortis in nunc quis, tristique dictum dui. Mauris vehicula mollis odio, ut consectetur lectus suscipit id. Morbi consequat, nunc sed ullamcorper vehicula, magna nulla laoreet purus, et tincidunt urna mauris ac augue. Aliquam sit amet risus metus. Cras nec aliquam dui. Integer urna risus, vehicula tempus augue non, convallis eleifend nisi. Cras dolor dui, elementum hendrerit tortor ac, rhoncus tincidunt ligula.
        </p>
        <p>
        Donec venenatis mi sapien, eget tincidunt nulla cursus quis. Donec vulputate neque non urna blandit gravida. Donec eleifend velit vel placerat commodo. Suspendisse eget urna id enim feugiat egestas. Praesent aliquet, enim id pellentesque molestie, felis nulla tincidunt velit, sit amet suscipit odio tellus sit amet diam. Aliquam tincidunt elit sit amet nisi aliquam, at euismod velit varius. Fusce maximus dapibus luctus. Ut auctor risus et feugiat faucibus. Curabitur tristique non nulla vitae dapibus.
        </p></div>
    </div>
  </footer>
</section>
